USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[DepartmentList]    Script Date: 03/27/2012 14:16:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[DepartmentList]()
RETURNS TABLE 
With Encryption
AS
RETURN 
(
	Select Distinct Department From tbl_User Where Department Is Not Null
)
