USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[DisburseAmount]    Script Date: 04/12/2012 11:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER FUNCTION [dbo].[DisburseAmount](@LoanNo Varchar(13))
RETURNS Money With Encryption
AS
BEGIN
	Declare @DisburseAmount Money;
	Set @DisburseAmount = (Select IsNull(Sum(Amount),0) DisburseAmount From tbl_Disbursement Where LoanNo = @LoanNo);
	
	Return @DisburseAmount;
END
