USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[ManagerList]    Script Date: 03/27/2012 13:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create FUNCTION [dbo].[ManagerList]()
RETURNS TABLE With Encryption
AS
RETURN 
(
	Select UserName From tbl_user
)
