USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[NewSessionID]    Script Date: 03/27/2012 14:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Alter FUNCTION [dbo].[NewSessionID] (@UserId Varchar(15))
RETURNS Numeric(18,0)
With Encryption
AS
Begin
	Declare @SessionId Numeric(18,0), @SystemDate Date;
	Set @SessionId = -1;
	Set @SystemDate = convert(date,sysdatetime());
	
	Set @SessionId = (Select IsNull(Max(SessionId),0) From tbl_UserLog 
						Where UserId = @UserId And Convert(Date,AccomplishDatetime) = Convert(Date,@SystemDate)) + 1;

	Return @SessionId;
End
	

-- select dbo.NewSessionID('Lenin')
