USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[PemiOrIdcpLoanBasics]    Script Date: 04/05/2012 15:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[PemiOrIdcpLoanBasics] (@ReceiveDate Datetime)
RETURNS @RetTab TABLE (LoanNo Varchar(13), ClientName Varchar(70), LoanRate Numeric(4,2), IntTillDate Datetime)
With Encryption
AS
Begin
	Declare @BasicRecord Table(LoanNo Varchar(13), ClientName Varchar(70), LoanRate Numeric(4,2));
	Insert Into @BasicRecord (LoanNo, ClientName, LoanRate)
	Select A.LoanNo, B.ClientName, A.InterestRate
	From tbl_Loan A join V_ClientName B on A.LoanNo = B.LoanNo
	Where A.LoanStatus in (Select StatusCode From dmn_LoanStatus Where [StatusName] in ('PEMI','IDCP','Twin State'));
	
	Declare @IntRecord Table(LoanNo Varchar(13), IntTillDate Datetime);
	Insert Into @IntRecord (LoanNo, IntTillDate)
	Select A.LoanNo, C.IntEndDate
	From tbl_ChequeSchedule A join tbl_PaymentSchedule B 
			on A.ScheduleId = B.ScheduleId and A.Purpose = 2 --and B.DueDate <= @ReceiveDate 
			And Month(DateAdd(D,-1,B.DueDate)) = Month(@ReceiveDate) and Year(B.DueDate) = Year(@ReceiveDate) 
							  join tbl_PemiOrIdcpInterest C on C.ScheduleId = B.ScheduleId;
	
	Insert Into @RetTab (LoanNo, ClientName, LoanRate, IntTillDate)
	Select A.LoanNo, A.ClientName, A.LoanRate, B.IntTillDate
	From @BasicRecord A Left join @IntRecord B on A.LoanNo = B.LoanNo;
	Return
End
