USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[PemiOrIdcpAmount]    Script Date: 04/05/2012 15:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[PemiOrIdcpAmount](@LoanNo Varchar(13))	
RETURNS TABLE With Encryption
AS
RETURN 
(
Select DisburseDate [Disburse Date], Amount [Amount]
From tbl_Disbursement
Where LoanNo = @LoanNo And IsPemi = 1
)
