USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[PermissionSeekerList]    Script Date: 03/27/2012 13:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[PermissionSeekerList](@PermissionGiverId Varchar(15)) 
RETURNS @PermissionSeeker TABLE (UserId Varchar(15), UserName Varchar(50), Department Varchar(50), UserType Varchar(15))
With Encryption
AS
Begin
	Declare @PermissionGiverType Varchar(15);
	Set @PermissionGiverType = (Select UserType From tbl_User Where UserId = @PermissionGiverId);
	
	If @PermissionGiverType = 'Administrator' 
		Begin
		Insert into @PermissionSeeker(UserId, UserName, Department, UserType)
		Select UserId, UserName, Department, UserType
		From tbl_User
		Where UserId != @PermissionGiverId;
		End
	Else
		Begin
		Insert into @PermissionSeeker(UserId, UserName, Department, UserType)
		Select UserId, UserName, Department, UserType
		From tbl_User
		Where ManagerId = @PermissionGiverId And UserId != @PermissionGiverId;
		End
	Return
End
