USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[PermitedTaskList]    Script Date: 03/27/2012 13:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[PermitedTaskList](@UserId Varchar(15))
RETURNS TABLE With Encryption
AS
RETURN 
(
Select A.TaskId, B.TaskName, A.PermitDate, A.CanForward
From tbl_UserPermitedTask A join dmn_Task B on A.TaskId = B.TaskId
Where A.UserId = @UserId
)
