USE [FIMISDB]
GO
/****** Object:  UserDefinedFunction [dbo].[UserDetail]    Script Date: 03/27/2012 13:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[UserDetail](@UserId Varchar(15))
RETURNS TABLE With Encryption
AS
RETURN 
(
	Select A.UserName, A.[Password], A.UserType, A.Department, IsNull(B.UserName,'') Manager 
	From tbl_User A Left join tbl_User B on A.ManagerId = B.UserId
	Where A.UserId = @UserId
)
