USE [FIMISDB]
GO
/****** Object:  Trigger [dbo].[trg_CashPaymentSummary_Update]    Script Date: 03/13/2012 11:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,H.M. Mehedi Hasan Lenin>
-- Create date: <Create Date,, 13-03-2012>
-- Description:	<Description,,>
-- =============================================

ALTER TRIGGER [dbo].[trg_CashPaymentSummary_Update]
   ON  [dbo].[tbl_CashPaymentSummary] With Encryption
   AFTER UPDATE
   
AS 

BEGIN
	SET NOCOUNT ON;
	Update tbl_PaymentSchedule Set SdlStatus = 3
	Where ScheduleId in (Select C.ScheduleId From Deleted A join tbl_CashPayment B on A.PaymentSummaryId = B.SummaryId
												  join tbl_ChequeSchedule C on B.PaymentId = C.CashPaymentId);
END
