USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[AddCheque_SingleScheduled]    Script Date: 06/01/2012 16:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[AddCheque_NonScheduled]
				@LoanNo Varchar(13),
				@UserId Varchar(15),
				@ListOfCheque ListOfCheque ReadOnly
AS
BEGIN
SET NOCOUNT ON;
SET XACT_ABORT ON;
--Declare @ListOfCheque ListOfCheque 
Declare @ChequeId Varchar(11), @Type Int, @ChequeNo Varchar(30), @Bank Varchar(50),
		@Branch Varchar(50), @AccNumber Varchar(30), @ChqDate Datetime, @ChqAmount Money, @ChqStatus Int, 
		@ReceivedBy Varchar(100), @ReceiveDate Datetime;

Set @ReceivedBy = @UserId;
Set @ReceiveDate = SYSDATETIME();

Declare @InsertedList Table(ChequeId Varchar(11));

Declare ChequeList Cursor For 
			Select A.[Type],  A.ChequeNo, A.Bank, A.Branch, A.AccNumber, A.[Date], A.Amount, A.[Status]  
			From @ListOfCheque A;
			
Open ChequeList;
Fetch Next From ChequeList Into @Type, @ChequeNo, @Bank, @Branch, @AccNumber, @ChqDate, @ChqAmount, @ChqStatus;
While @@FETCH_STATUS = 0
	Begin
	Set @ChequeId = dbo.NewChequeId()
	Begin Transaction AddCheque
		Insert into tbl_Cheque(LoanNo, ChequeId, [Type], ChequeNo, Bank, Branch, BankAccNumber, ChqDate, Amount, 
								ChqStatus, ReceivedBy, ReceiveDate)
					Values(@LoanNo, @ChequeId, @Type, @ChequeNo, @Bank, @Branch, @AccNumber, @ChqDate, @ChqAmount,
							@ChqStatus, @ReceivedBy, @ReceiveDate); 
						
		Insert into @InsertedList(ChequeId) values(@ChequeId);
	Commit Transaction AddCheque
	Fetch Next From ChequeList Into @Type, @ChequeNo, @Bank, @Branch, @AccNumber, @ChqDate, @ChqAmount, @ChqStatus;
	End
Close ChequeList;
Deallocate ChequeList;

SET XACT_ABORT OFF;

Select COUNT(*) From @InsertedList;
END




