USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[AddPermission]    Script Date: 03/27/2012 13:30:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[AddPermission] 
					@PermissionSeekerId varchar(15),
					@PermittedTaskList PermittedTaskList ReadOnly,
					@PermissionGiverId varchar(15)				
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	Declare @Return bit;
	Set @Return = 0;
	
	Set Xact_Abort On;
	Begin Tran AddPermission
	Merge Into tbl_UserPermitedTask A
	Using @PermittedTaskList B
	On (A.UserId = @PermissionSeekerId And A.TaskId = B.TaskId)
	When Not Matched Then Insert(UserId, TaskId, PermittedBy, PermitDate, canForward)
	Values(@PermissionSeekerId, B.TaskId, @PermissionGiverId, sysdatetime(), B.CanForward)
	When Matched Then Update Set PermittedBy = @PermissionGiverId, PermitDate = sysdatetime();
	
	Set @Return = 1
	Commit Tran AddPermission
	Set Xact_Abort Off;
	
	Select @Return;
END
