USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 03/27/2012 14:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AddUser]
					@UserId Varchar(15),
					@UserName Varchar(50),
					@Password Varchar(200),
					@UserType Varchar(15),
					@Department Varchar(50),
					@ManagerName Varchar(50)
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	Declare @ManagerId Varchar(15), @Retrun bit;
	
	Set @Retrun = 0;
	
	If @ManagerName Is Not Null And @ManagerName != ''
		Set @ManagerId = (Select UserId From tbl_User Where UserName = @ManagerName);
    
    Begin Transaction AddUser
    Insert into tbl_User(UserId, UserName, Password, UserType, Department, ManagerId)
    Values (@UserId, @UserName, @Password, @UserType, @Department, @ManagerId);
    
    If @UserType = 'Administrator'
		Insert into tbl_UserPermitedTask(UserId, TaskId, PermittedBy, PermitDate, canForward)
		Select @UserId, TaskId, 'System', SYSDATETIME(), 0 
		From dmn_Task;
    Else    
		Insert into tbl_UserPermitedTask(UserId, TaskId, PermittedBy, PermitDate, canForward)
		Select @UserId, TaskId, 'System', SYSDATETIME(), 0 
		From dmn_Task 
		Where TaskName in ('Log in', 'Log out');
    
    Set @Retrun = 1;
    Commit Transaction AddUser
    
    Select @Retrun 
END
