USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[AddUserLog]    Script Date: 03/27/2012 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AddUserLog]
					@SessionId Numeric(18,0),
					@UserId Varchar(15),
					@TaskId Int,
					@Detail Varchar(max)
With Encryption
As
Begin
Set NoCount on;
Declare @return bit;
Set @return = 0;

Set Xact_Abort On;
Begin Tran AddLog
	Insert into tbl_UserLog(SessionId, UserId, TaskId, AccomplishDatetime, Detail)
	Values (@SessionId, @UserId, @TaskId, SysDateTime(), @Detail);
	
	Set @return = 1;
Commit Tran AddLog
Set Xact_Abort Off;

Select @return 
End