USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[CashPayment]    Script Date: 03/13/2012 09:49:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[CashPayment]
					@LoanNo Varchar(13),
					@PaymentBySelf Bit,
					@PaymentBy Varchar(70),
					@Address Varchar(150),
					@Phone Varchar(20),
					@PaymentList PaymentList ReadOnly,
					@ReceivedBy Varchar(15)
With Encryption
As
Begin
Set NoCount On;
Declare @Purpose Int, @ScheduleId Varchar(11), @Amount Money, @TotalAmount Money, @PaymentSummaryId int, @PaymentId int,
		@Product Varchar(30), @BranchId Int, @InterestPart Money, @PrincipalPart Money, @BankAccount Varchar(200),
		@ClientName Varchar(70), @SdlStatus Int, @Return Int;

Declare @CashPayment Table (PaymentId Numeric(8,0), Purpose Int, Amount Money, ScheduleId Varchar(11));

Declare @VoucherDetail Table(SerialNo Numeric(5,0), AccCode Varchar(9), GenLedCode Varchar(5), 
									DrAmount Money, CrAmount Money, LoanNo Varchar(13), Name Varchar(70));

Declare @VchrSerial Int, @VchrRef Numeric(5,0), @VchrType Int, @Category Varchar(50), @Remarks Varchar(Max), @RollbackQuery Varchar(Max),
		@QueryWithCommit Varchar(Max);

Set @VchrSerial = 0;
Set @Return = 0;
Set @RollbackQuery = '';		
Set @PaymentId = 0;
Set @Product = (Select B.GroupName From tbl_Loan A join tbl_Product B on A.ProductID = B.ID And A.LoanNo = @LoanNo);
Set @BranchId = (Select A.BranchID From tbl_Loan A Where A.LoanNo = @LoanNo);
Set @TotalAmount = 0;
Set @ClientName = (Select ClientName From V_ClientName Where LoanNo = @LoanNo);

Declare PayList Cursor For  Select B.Code, A.ScheduleId, Sum(Amount) Amount, C.SdlStatus
							From @PaymentList A Left Join dmn_PaymentPurpose B on A.Purpose = B.Purpose
												Left Join tbl_PaymentSchedule C on A.ScheduleId = C.ScheduleId
							Group By B.Code, A.ScheduleId, C.SdlStatus;

Open PayList;
Fetch Next From PayList Into @Purpose, @ScheduleId, @Amount, @SdlStatus;
While @@Fetch_Status = 0
	Begin
	Set @PaymentId = @PaymentId + 1;
	
	Set @RollbackQuery = @RollbackQuery + ' Update FIMISDB.dbo.tbl_PaymentSchedule Set SdlStatus = ' + CONVERT(Varchar(2), @SdlStatus) 
						+ ' Where ScheduleId = ''' + @ScheduleId + ''';'
	Insert into @CashPayment (PaymentId, Purpose, Amount, ScheduleId)
	Values(@PaymentId, @Purpose, @Amount, @ScheduleId);
	
	If @Product = 'Home Mortgage Loan'
		Begin
		If @Purpose = 1
			Begin
			Set @InterestPart = (Select InterestPart From tbl_PaymentSchedule Where ScheduleId = @ScheduleId);
			Set @PrincipalPart = @Amount - @InterestPart;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'EMI (HML) Interest Receivable'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @InterestPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12027' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Home Mortgage Loan'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @PrincipalPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12025' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 2
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			-- 'PEMI (HML) Interest Receivable'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12026' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 3
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Additional Interest (A/R)'
			If Exists(Select * From BookKeeper.dbo.SLDesc Where GenLedCode = '12095' 
								And BookKeeper.dbo.LOANNUMBER(SlName) = @LoanNo)
				Begin
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
				From BookKeeper.dbo.SLDesc A 
				Where A.GenLedCode = '12095' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
				End
			Else
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Values(@VchrSerial, Null, '12095', 0, @Amount, @LoanNo, @ClientName);
			End
		End
	Else If @Product = 'Commercial Mortgage Loan'
		Begin
		If @Purpose = 1
			Begin
			Set @InterestPart = (Select InterestPart From tbl_PaymentSchedule Where ScheduleId = @ScheduleId);
			Set @PrincipalPart = @Amount - @InterestPart;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'EMI (CML) Interest Receivable'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @InterestPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12054' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Commercial Mortgage Loan'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @PrincipalPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12053' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 2
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			-- 'PEMI (HML) Interest Receivable'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @InterestPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12026' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 3
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Additional Interest (A/R)'
			--Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			--Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
			--From BookKeeper.dbo.SLDesc A 
			--Where A.GenLedCode = '12095' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			
			If Exists(Select * From BookKeeper.dbo.SLDesc Where GenLedCode = '12095' 
								And BookKeeper.dbo.LOANNUMBER(SlName) = @LoanNo)
				Begin
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
				From BookKeeper.dbo.SLDesc A 
				Where A.GenLedCode = '12095' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
				End
			Else
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Values(@VchrSerial, Null, '12095', 0, @Amount, @LoanNo, @ClientName);
			End
		End
	Else If @Product = 'Project Mortgage Loan'
		Begin
		If @Purpose = 1
			Begin
			Set @InterestPart = (Select InterestPart From tbl_PaymentSchedule Where ScheduleId = @ScheduleId);
			Set @PrincipalPart = @Amount - @InterestPart;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'EMI (PML) Interest Receivable'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @InterestPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12024' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Project Mortgage Loan'
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @PrincipalPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12022' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 2
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			--PEMI (Project Mortgage) (A/R)
			Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @InterestPart, @LoanNo, @ClientName 
			From BookKeeper.dbo.SLDesc A 
			Where A.GenLedCode = '12023' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			End
		Else If @Purpose = 3
			Begin
			Set @VchrSerial = @VchrSerial + 1;
			-- 'Additional Interest (A/R)'
			--Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			--Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
			--From BookKeeper.dbo.SLDesc A 
			--Where A.GenLedCode = '12095' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
			
			If Exists(Select * From BookKeeper.dbo.SLDesc Where GenLedCode = '12095' 
								And BookKeeper.dbo.LOANNUMBER(SlName) = @LoanNo)
				Begin
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Select @VchrSerial, A.AccCode, A.GenLedCode, 0, @Amount, @LoanNo, @ClientName 
				From BookKeeper.dbo.SLDesc A 
				Where A.GenLedCode = '12095' And BookKeeper.dbo.LOANNUMBER(A.SlName) = @LoanNo;
				End
			Else
				Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
				Values(@VchrSerial, Null, '12095', 0, @Amount, @LoanNo, @ClientName);
			End
		End
	
	If @BranchId = 0 Set @BankAccount = (Select AccCode From BookKeeper.dbo.SLDesc Where SlName = 'Jamuna Bank - STD  # 0320000028' And GenLedCode = '12002');
	Else If @BranchId = 1 Set @BankAccount = (Select AccCode From BookKeeper.dbo.SLDesc Where SlName = 'UCBL - STD # 31000407' And GenLedCode = '12002');
	Else If @BranchId = 2 Set @BankAccount = (Select AccCode From BookKeeper.dbo.SLDesc Where SlName = 'Eastern Bank - STD # 01041040000710' And GenLedCode = '12002');
	Else If @BranchId = 3 Set @BankAccount = (Select AccCode From BookKeeper.dbo.SLDesc Where SlName = 'Al Falah(Std) # 0702-03700122' And GenLedCode = '12002');
	Else If @BranchId = 4 Set @BankAccount = (Select AccCode From BookKeeper.dbo.SLDesc Where SlName = 'Bank Asia (STD) A/C No.03236000040' And GenLedCode = '12002');
	
	Set @TotalAmount = @TotalAmount + @Amount; 
	Fetch Next From PayList Into @Purpose, @ScheduleId, @Amount, @SdlStatus;
	End

Set @VchrSerial = @VchrSerial + 1;

Insert into @VoucherDetail(SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
Values(@VchrSerial, @BankAccount, '12002', @TotalAmount, 0, @LoanNo, @ClientName)
	
Close PayList;
Deallocate PayList;

Set @PaymentSummaryId = (Select IsNull(Max(PaymentSummaryId),0) From tbl_CashPaymentSummary) + 1;
Set @PaymentId = (Select IsNull(Max(PaymentId),0) From tbl_CashPayment);


		
Set @VchrRef = (Select IsNull(Max(VchrRef),0) From BookKeeper.dbo.PendingVoucher) + 1;
Set @VchrType = 2;
Set @Category = 'Cash Payment';
Set @RollbackQuery = @RollbackQuery + 'Delete From FIMISDB.dbo.tbl_CashPayment Where SummaryId = ''' + Convert(Varchar(10),@PaymentSummaryId) + '''; Delete From FIMISDB.dbo.tbl_CashPaymentSummary Where PaymentSummaryId = ''' 
					 + Convert(Varchar(10), @PaymentSummaryId) + ''';';
Set @QueryWithCommit = 'Update FIMISDB.dbo.tbl_CashPaymentSummary Set PaymentVoucherNo = @VchrNo, ClearDate = SysDatetime() Where PaymentSummaryId = ''' 
						+ Convert(Varchar(10), @PaymentSummaryId) + ''';';

Set Xact_abort On;
Begin Transaction CashPayment
	Insert into tbl_CashPaymentSummary(PaymentSummaryId, LoanNo, PaymentBySelf, PaymentBy, [Address], 
									   Phone, PaymentDate, ReceivedBy)
	Values(@PaymentSummaryId, @LoanNo, @PaymentBySelf, @PaymentBy, @Address, @Phone, SysDatetime(), @ReceivedBy);
	
	Insert into tbl_CashPayment(PaymentId, Purpose, Amount, SummaryId)
	Select @PaymentId + PaymentId, Purpose, Amount, @PaymentSummaryId
	From @CashPayment;
	
	Merge into tbl_ChequeSchedule A
	Using @CashPayment B on (A.ScheduleId = B.ScheduleId)
	When Matched Then Update Set A.CashPaymentId = @PaymentId + B.PaymentId;
	
	Update tbl_PaymentSchedule Set SdlStatus = 5
	Where ScheduleId in (Select ScheduleId From @CashPayment);
	
	Insert into BookKeeper.dbo.PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
	Values(@VchrRef, @VchrType, @Category, @BranchId, SysDatetime(), @Remarks, @RollbackQuery, @QueryWithCommit);
	
	Insert into BookKeeper.dbo.PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
	Select @VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name 
	From @VoucherDetail;

	Set @Return = 1;
Commit Transaction
Set Xact_abort Off;

Select @Return;
End

