USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[ChequeReturn]    Script Date: 06/14/2012 10:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[ChequeReturn]
				@ListOfReturnCheque ListOfReturnCheque ReadOnly
	/*
	চেক রিটার্নের সময় “চেক এনক্যাশ” টেবিলে রিমার্কস আপডেট করতে হবে। একই সাথে চেক টেবিলের চেকের স্টাটাস’ও চেইঞ্জ হবে। এই দুই কাজ শেষ হলে একান্টিং
	সিস্টেমে রিভার্স ভাউচারের জন্য একটি রিকোয়েষ্ট যাবে যেটি পেন্ডিং ভাউচার হিসেবে সেখানে থাকবে। যখন ভাউচারগুলো এপ্রুভ হবে, তখন সিডিউল টেবিলে সিডিউল স্টাটাস
	আপডেট হবে (সিডিউল স্টাটাস “পেইড” থেকে “নট পেইড” হবে)।
	
	যদি কোন কারণে পেন্ডিং ভাউচারটি এপ্রুভ না হয় বা ক্যান্সেল করা হয়, তখন লোন ডাটাবেজে একটি রোলব্যাক অপারেশন চালাতে হবে। এসময় “চেক এনক্যাশ” টেবিলে
	রিমার্কস ফিল্ডকে নাল বা খালি করতে হবে। সাথে সাথে চেক টিবিলে স্টাটাস চেইঞ্জ হয়ে “সেন্ড টু ব্যাংক” হবে। এইক্ষেত্রে সিডিউল টেবিলে কোন ধরনের আপডেট অপারেশন
	-এর প্রয়োজন হবে না।
	
	চেক রিটার্ন এবং রিভার্স ভাউচার-এর স্টেপসমূহঃ
	১. প্রয়োজনীয় ডাটা সংগ্রহ
	ভাউচার রিকোয়েষ্ট পাঠানোর জন্য যেসব ডাটা আমাদের প্রয়োজন হবে সেগুলো প্রথমে সংগ্রহ করা হয় এবং একটি টেম্পোরারী টেবিলে ডাটাগুলো রাখা হয়। যে ডাটা প্রয়োজন 
	তা হলঃ (ক) চেকের আই,ডি, (খ) যে ব্যাংকে চেকটি পাঠানো হয়েছিল তার নাম (গ) কি উদ্দেশ্যে চেকটি প্লেস করা হয়েছিল (পারপাজ) (ঘ) চেকে উল্লেখিত 
	টাকার পরিমান (ঙ) কিস্তির সুদের অংশ (চ) কিস্তির আসলের অংশ (ছ) লোন নম্বর (জ) ক্লাইটের নাম (ঝ) ব্রাঞ্চ নাম (ঞ) কোন ধরনের লোন (প্রোডাক্ট)
	
	২. অস্থায়ী ভাউচারের তৈরী
	একটি রিটার্ন অপারেশনে সাধারণত অনেকগুলো ভাউচার হয়। একারনে ভাউচারগুলো প্রথমে একটি অস্থায়ী টেবিলে প্রোসেজ করে রাখা হয়। অস্থায়ী ভাউচার তৈরীর সময় 
	প্রথমেই দেখা হয় একটি চেকটি কোন ব্রাঞ্চ, কোন প্রোডাক্ট, কোন উদ্দেশ্যে এবং কোন ব্যাংকে পা্ঠানো হয়েছিল। এভাবে চেকগুলোকে আলাদা করার কারণ হল এই চারটি 
	প্যারামিটারের ভিন্নতার কারনে ভিন্ন ভিন্ন ভাউচার তৈরী হবে। এবার এই গ্রুপগুলোকে প্রোডাক্ট এবং উদ্দেশ্য-র ধরন অনুযায়ী প্রসেস করা হয়। এই প্রেসেসে প্রথমেই দেখা হয়
	চেকটি যে লোনের সেটি কোন প্রোডাক্ট-এর আওতায়। এই প্রোডাক্টের লোজার নম্বর একাউন্ট ডাটাবেজ থেকে খুঁজে বের করা হয় এবং সেই লেজারে ক্লাইন্ট-এর একাউন্ট-এ
	একাউন্ট নম্বর অনুযায়ী একটি রিভার্স ভাউচার এন্ট্রি করতে হয়। এভাবে প্রত্যেকটি চেকের ইনফরমেশন অস্থায়ী ভাউচার টেবিলে ইন্সার্ট করার পর প্রত্যেক গ্রুপের এমাউন্ট 
	সাম যে ব্যাংকে চেকগুলো পাঠানো হয়েছিল সেই ব্যাংকের একাউন্ট থেকে রিভার্স করা হয় বা ডেবিট করা হয়।
	
	৩. ভাউচার প্রসেসের জন্য প্রিপারেশন
	পূর্বেই উল্লেখ করা হয়েছে যে এই সিস্টেমের ভাউচারগুলো একাউন্স সিস্টেমে টেমপোরারী ভাউচার হিসেবে জমা থাকে। সেখান থেকে পরবর্তীকালে একাউন্স ডিপার্টমেন্ট ভাউচার
	গুলো হয় এপ্রুভ করবে বা বাতিল করবে। এপ্রুভ বা বাতিল যাই করুক না কেন, এই সময়ে লোনের ডাটাবেজে কিছু পরিবর্তন করতে হয়। কি কি পরিবর্তন করতে হবে
	তার জন্য ইনিস্ট্রাকশন পাঠানো হয়। ভাউচার গুলোকে একাউন্স ডিপার্টমেন্টের ডাটাবেজে পাঠানোর জন্য এই পর্যায়ে প্রত্যেকটি ভাউচারের সাথে ভবিষ্যৎ করণীয় বিষয়গুলো
	ইনিস্ট্রাকশন আকারে তৈরী করা হয়।
	
	৪. তৈরীকৃত ভাউচার একাউন্ট সিস্টেমে প্রেরণ
	সবশেষে এই ভাউচারগুলোকে একাউন্টস ডিপার্টমেন্টের ডাটাবেজে পেন্ডিং ভাউচার হিসেবে পাঠানো হয় 
	*/
With Encryption
As
Begin
	
	--DECLARE @ListOfReturnCheque ListOfReturnCheque-- ReadOnly;
	SET NOCOUNT ON;

	
	-- ভেরিয়াবল ডিক্লিয়ারেশন --
	-- এখানে শুধুমাত্র সেই ভেরিয়েবলগুলো ডিক্লোয়ার করা হল, যেগুলো পেন্ডিং ভাউচার টেবিলের জন্য প্রয়োজন।
	Declare @VchrRef Numeric(5,0), @VchrType Int, @VchrCategory Varchar(50), @PostDate Datetime,
			@Remarks Varchar(200);
	
	-- চেকগুলোকে বিভিন্ন গ্রুপে ভাগ করার জন্য প্রয়োজনীয় ভ্যারিয়াবল
	Declare @Product Varchar(30), @Branch Integer, @Purpose Integer, @DepositBank Varchar(50), @GrpSum Money, @BnkAccCode Varchar(9);
	
	-- রোলব্যাক এবং কমিট ইনিস্ট্রাকশন তৈরীর জন্য ব্যবহৃত ভেরিয়াবল
	Declare @BundleId Integer, @QueryString Varchar(Max), @RollbackQuery Varchar(max), @QueryWithCommit Varchar(max), @ReturnReason Varchar(100), @ChequeId Varchar(11);
	
	-- ভাউচার ডিটেইল টেবিলে সিরিয়াল নম্বর দেয়ার জন্য প্রয়োজনীয় ভেরিয়াবল
	Declare @SerialNumber Integer, @AccCode Varchar(9);
	
	
	-- পেন্ডিং ভাউচারের প্যারেন্ট টেবিলে যে ডাটা ঢুকবে সেগুলো রাখার জন্য অস্থায়ী এই টেবিলটি তৈরী করা হল।
	Declare  @PendingVoucher Table(VchrRef Numeric(5,0), VchrType int, Category Varchar(50), 
								 BrCode int, PostDate Datetime, Remarks Varchar(200),
								 RollbackQuery Varchar(max), QueryWithCommit Varchar(max));
	
	-- পেন্ডিং ভাউচারের চাউল্ড টেবিলে যে ডাটা ঢুকবে সেগুলো রাখার জন্য অস্থায়ী এই টেবিলটি তৈরী করা হল।
	Declare @PendingVoucherDetail Table (
					VchrRef Numeric(5,0), 
					SerialNo Numeric(5,0), 
					AccCode varchar(9),
					GenLedCode Varchar(5), 
					DrAmount Money, 
					CrAmount Money, 
					LoanNo Varchar(13), 
					ClientName Varchar(70));
	
	-- বিভিন্ন টেবিল থেকে ডাটা সংগ্রহ করে সেগুলোকে ধরে রাখার জন্য এই অস্থায়ী টেবিলটি তৈরী করা হল।
	Declare @TempData Table(
					ChequeId Varchar(11), 
					DepositBank Varchar(50), 
					Purpose Integer, 
					ChqAmount Money, 
					Interest Money, 
					Principal Money,
					LoanNo Varchar(13),
					ClientName Varchar(70), 
					Branch Integer, 
					Product Varchar(30));
	
	
	-- ভেরিয়াবল ইনিসিয়ালাইজেশন
	Set @VchrRef = 0;
	Set @Remarks = '';
	Set @RollbackQuery = '';
	Set @QueryWithCommit = '';	
	
	
	Set @VchrType = 1;
	Set @VchrCategory = 'Cheque Return';
	Set @PostDate = SYSDATETIME();
	Set @BundleId = (Select Distinct BundleId From @ListOfReturnCheque);
	
				
	-- ডাটাসংগ্রহ করে অস্থায়ী টেম্পডাটা টেবিলে ইন্সারশন
	Insert into @TempData(ChequeId, DepositBank, Purpose, ChqAmount, Interest, Principal, LoanNo, ClientName, Branch, Product)
	Select A.ChequeId, B.DepositBank, D.Purpose, C.Amount, E.InterestPart, E.PrincipalPart, D.LoanNo,
			 H.ClientName, F.BranchID, G.GroupName 
	From @ListOfReturnCheque A Left Join tbl_ChequeEncash B on A.BundleId = B.BundleId and A.ChequeId = B.ChequeId
								Join tbl_Cheque C on A.ChequeId = C.ChequeId 
								Join tbl_ChequeSchedule D on A.ChequeId = D.ChequeId
								Join tbl_PaymentSchedule E on D.ScheduleId = E.ScheduleId
								Join tbl_Loan F on F.LoanNo = D.LoanNo 
								Join tbl_Product G on F.ProductID = G.ID 
								Join V_ClientName H on H.LoanNo = F.LoanNo 
	
	
	-- ভাউচার গ্রুপ তৈরী
	Declare VoucherGroup Cursor For 
					Select Distinct Product, Branch, Purpose, DepositBank 
					From @TempData 
	

	Open VoucherGroup
	Fetch Next From VoucherGroup into @Product, @Branch, @Purpose, @DepositBank
	While @@FETCH_STATUS = 0
		Begin
		Set @VchrRef = @VchrRef + 1
		
		If @Product = 'Home Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (HML) Interest Receivable' is '12027'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12027', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12027' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName);
				
				-- GenLedCode for 'Home Mortgage Loan' is '12025'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12025',  A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12025'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0;
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12026', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12026' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName);
				
				-- GenLedCode for 'Home Mortgage Loan' is '12025'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12025', A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12025'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0;
				End
			/* Else (Add Later)*/

			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank)
			
			Set @GrpSum = (Select SUM(DrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef);		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', 0, @GrpSum) 
			End
		Else If @Product = 'Commercial Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (CML) Interest Receivable' is '12054'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12054', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12054' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				
				-- GenLedCode for 'Commercial Mortgage Loan' is '12053'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12053', A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12053'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12026', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12026' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				
				-- GenLedCode for 'Commercial Mortgage Loan' is '12053'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12053', A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12053'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0
				End
			/* Else (Add Later)*/
			
			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank)
			
			Set @GrpSum = (Select SUM(DrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef);		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', 0, @GrpSum) 
			End
		Else If @Product = 'Project Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (PML) Interest Receivable' is '12024'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12024', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12024' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				
				-- GenLedCode for 'Project Mortgage Loan' is '12022'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12022', A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12022'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (Project Mortgage) (A/R)' is '12023'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12023', Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
															Else A.ChqAmount End CrAmount, 0, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12023' 
								   And A.Product = @Product 
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				
				-- GenLedCode for 'Project Mortgage Loan' is '12022'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12022', A.ChqAmount - A.Interest, 0, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12022'
								   And A.Product = @Product
								   And A.Branch = @Branch 
								   And A.Purpose = @Purpose 
								   And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.ChqAmount - A.Interest > 0
				End
			/* Else (Add Later)*/
					
			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank);
			
			Set @GrpSum = (Select SUM(DrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef);		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', 0, @GrpSum);
		End
		/* রোলব্যাক এবং কমিট ইনিস্ট্রাকশন তৈরী (শুরু)*/ 
		Set @QueryString = ''
		Declare ChequeList Cursor For  Select ChequeId From @TempData 
										Where Product = @Product And Branch = @Branch 
										And Purpose = @Purpose And DepositBank = @DepositBank 
		
		Open ChequeList
		Fetch Next From ChequeList Into @ChequeId
		While @@FETCH_STATUS = 0
			Begin
			Set @QueryString = @QueryString + '''' + @ChequeId + ''','
			Fetch Next From ChequeList Into @ChequeId
			End
		Close ChequeList
		Deallocate ChequeList
		Set @QueryString = LEFT(@QueryString, LEN(@QueryString) -1)
		
		Set @RollbackQuery = 'UPDATE fimisdb.dbo.tbl_Cheque Set ChqStatus = 2 Where ChequeId in (' 
							  + @QueryString + '); Update fimisdb.dbo.tbl_ChequeEncash Set ChqReturn = 0, Remarks = Null  Where BundleId = ' 
							  + Convert(Varchar, @BundleId) + ' And ChequeId in (' + @QueryString + ');'
		
		Set @QueryWithCommit = 'Update fimisdb.dbo.tbl_PaymentSchedule Set SdlStatus = 4 Where ScheduleId In'
							  + ' (Select ScheduleId From fimisdb.dbo.tbl_ChequeSchedule Where ChequeId in ('
							  + @QueryString + '));'
		/* রোলব্যাক এবং কমিট ইনিস্ট্রাকশন তৈরী  (শেষ)*/
		
		Insert into @PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrRef, @VchrType, @VchrCategory, @Branch, @PostDate, @Remarks, @RollbackQuery, @QueryWithCommit)
		
		Fetch Next From VoucherGroup into @Product, @Branch, @Purpose, @DepositBank
		End
	Close VoucherGroup
	Deallocate VoucherGroup
	
	-- সিরিয়াল নম্বর প্রদান (শুরু)
	Declare OuterCursor Cursor For Select Distinct VchrRef From @PendingVoucher 
	Open OuterCursor
	Fetch Next From OuterCursor Into @VchrRef
	While @@FETCH_STATUS = 0
		Begin
		Set @SerialNumber = 0;
		Declare InnerCursor Cursor For Select AccCode From @PendingVoucherDetail Where VchrRef = @VchrRef 
		Open InnerCursor
		Fetch Next From InnerCursor Into @AccCode;
		While @@FETCH_STATUS = 0
			Begin
			Set @SerialNumber = @SerialNumber + 1;
			Update @PendingVoucherDetail Set SerialNo = @SerialNumber 
			Where AccCode = @AccCode and VchrRef = @VchrRef;
			Fetch Next From InnerCursor Into @AccCode;
			End
		Close InnerCursor
		Deallocate InnerCursor		
		Fetch Next From OuterCursor Into @VchrRef
		End
	Close OuterCursor
	Deallocate OuterCursor
	-- সিরিয়াল নম্বর প্রদান (শেষ)
	
	Set @VchrRef = (Select IsNull(MAX(VchrRef),0) From bookkeeper.dbo.PendingVoucher)
	SET XACT_ABORT ON;
	--If (Select SUM(DrAmount-CrAmount) From #PendingVoucherDetail) = 0
		--Begin
		Begin Transaction Encash
		Update tbl_Cheque Set ChqStatus = 4
		Where ChequeId in (Select ChequeId From @ListOfReturnCheque)
		
		
		Declare UpdateRemark Cursor For Select BundleId, ChequeId, Remarks From @ListOfReturnCheque
		Open UpdateRemark
		Fetch Next From UpdateRemark into @BundleId, @ChequeId, @ReturnReason
		While @@FETCH_STATUS = 0
			Begin
			Update tbl_ChequeEncash Set ChqReturn = 1, Remarks = @ReturnReason, ReturnDate = Convert(date,sysdatetime())
			Where BundleId = @BundleId and ChequeId = @ChequeId;
			
			Fetch Next From UpdateRemark into @BundleId, @ChequeId, @ReturnReason
			End
		Close UpdateRemark
		Deallocate UpdateRemark
		
		Insert into bookkeeper.dbo.PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
		Select @VchrRef + Vchrref, VchrType, Category, BrCode , PostDate, Remarks, RollbackQuery, QueryWithCommit 
		From @PendingVoucher
		
		Insert into BOOKKEEPER.dbo.PendingVoucherDetail
		Select VchrRef + @VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName 
		From @PendingVoucherDetail 
		Commit Transaction Encash
		SET XACT_ABORT OFF;
		--End
End

