USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[ChequeCancelation]    Script Date: 06/11/2012 17:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[ChequeCancelation]
				 @ListOfChequeId VarcharList ReadOnly,
				 @UserId Varchar(15),
				 @Remarks Varchar(255)
With Encryption
As
Begin
	Set NoCount On;

	Set Xact_Abort On;
	Begin Tran ChqCancel
		Insert into tbl_ChequeCanceled(ChequeId, CanceledBy, DateOfCancelation, Remarks)
		Select Value, @UserId, Sysdatetime(), @Remarks
		From @ListOfChequeId

		Merge tbl_Cheque A
		Using @ListOfChequeId B
		On (A.ChequeId = B.Value)
		When Matched Then 
			Update Set	A.ChqStatus = 5;

	Commit Tran ChqCancel
	Set Xact_Abort Off;
End



