USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[MergeCheque]    Script Date: 06/01/2012 18:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Alter PROCEDURE [dbo].[EditCheque]
				@UserId Varchar(15),
				@ListOfCheque ListOfCheque ReadOnly
With Encryption
AS
BEGIN
SET NOCOUNT ON;
Declare @Return Bit;

Set @Return = 0;

Set Xact_abort on;
Begin Tran t1
	Merge Into tbl_Cheque A Using @ListOfCheque B
	On (A.ChequeId = B.ChequeId)
	When Matched Then 
	Update Set A.ChqDate = B.[Date], A.Amount = B.Amount,
			A.ChequeNo = B.ChequeNo, A.Bank = B.Bank,
			A.Branch = B.Branch, A.BankAccNumber = B.AccNumber;
	
	Set @Return = 1;
Commit Tran t1
Set Xact_abort off;

Select @Return;
END


