USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[EncashCheque]    Script Date: 06/17/2012 15:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[EncashCheque]
			@ListOfEncashCheque VarcharList ReadOnly,
			@DepositBank Varchar(200),
			@DepositDate Datetime,
			@IsFreshCheque bit
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	-- এখানে শুধুমাত্র সেই ভেরিয়েবলগুলো ডিক্লোয়ার করা হল, যেগুলো পেন্ডিং ভাউচার টেবিলের জন্য প্রয়োজন।
	Declare @VchrRef Numeric(5,0), @VchrType Int, @VchrCategory Varchar(50), @PostDate Datetime,
			@Remarks Varchar(200), @RollbackQuery Varchar(max), @RollbackStatus Int, @QueryWithCommit Varchar(max);
		
	Set @VchrRef = 0;
	Set @VchrType = 2;
	Set @VchrCategory = 'Installment Payment';
	Set @PostDate = SYSDATETIME();
	Set @Remarks = '';
	
	Set @RollbackQuery = '';
	Set @QueryWithCommit = '';
	
	
	-- বান্ডল আই ডি পরবর্তীকালে ভাউচার পোষ্টিং-এর সময় লোনের ডাটা আপডেট করার সময় প্রয়োজন হবে। একইভাবে ভাউচার ক্যান্সেলেসশের সময় লোনের ডাটা 
	-- রোল ব্যাক করার সময় প্রয়োজন হবে।
	Declare @BundleId Integer;
	Set @BundleId = (Select IsNull(MAX(BundleId),0) From tbl_ChequeEncash) + 1;
	-- পেন্ডিং ভাউচার টেবিলে যে ডাটা ঢুকবে সেগুলো রাখার জন্য অস্থায়ী এই টেবিলটি তৈরী করা হল।
	Declare  @PendingVoucher Table (VchrRef Numeric(5,0), VchrType int, Category Varchar(50), 
								 BrCode int, PostDate Datetime, Remarks Varchar(200),
								 RollbackQuery Varchar(max), QueryWithCommit Varchar(max))
	
	Declare  @PendingVoucherDetail TABLE (
					VchrRef Numeric(5,0), 
					SerialNo Numeric(5,0), 
					AccCode varchar(9),
					GenLedCode Varchar(5), 
					DrAmount Money, 
					CrAmount Money, 
					LoanNo Varchar(13), 
					ClientName Varchar(70));
	
	Declare  @TempData TABLE(
					ChequeId Varchar(11), 
					DepositBank Varchar(50), 
					DptDate Datetime,
					Purpose Integer, 
					ChqAmount Money, 
					Interest Money, 
					Principal Money,
					LoanNo Varchar(13),
					ClientName Varchar(70), 
					Branch Integer, 
					Product Varchar(30),
					InstlNumber Integer)


	Insert into @TempData(ChequeId, DepositBank, DptDate, Purpose, ChqAmount, Interest, 
						  Principal, LoanNo, ClientName, Branch, Product, InstlNumber)
	Select A.Value, @DepositBank, @DepositDate, B.Purpose, C.Amount, D.InterestPart, 
			 D.PrincipalPart, B.LoanNo, F.ClientName, E.BranchID, G.GroupName, B.InstlNo 
	From @ListOfEncashCheque A Join tbl_ChequeSchedule B on A.Value = B.ChequeId 
							   Join tbl_Cheque C on C.ChequeId = A.Value
							   Join tbl_PaymentSchedule D on D.ScheduleId = B.ScheduleId 
							   Join tbl_Loan E on E.LoanNo = B.LoanNo
							   Join V_ClientName F on F.LoanNo = E.LoanNo  
							   Join tbl_Product G on G.ID = E.ProductID;
	
	--Declare MyCursor Cursor For;
	Declare @InstlNumber Int, @ChequeId Varchar(11), @Purpose Int, @Amount Money, @ChequeAmount Money;
	
	Declare ChequeCursor Cursor For
					Select ChequeId From @TempData Group By ChequeId Having Count(*) > 1;
	Open ChequeCursor;
	Fetch Next From ChequeCursor Into @ChequeId;
	While @@Fetch_Status = 0
		Begin
		Set @ChequeAmount = (Select Amount From tbl_Cheque Where ChequeId = @ChequeId);
		
		Declare InstallmentCursor Cursor For 
					Select A.InstlNumber, A.Purpose  
					From @TempData A
					Where A.ChequeId = @ChequeId;
											 
		Open InstallmentCursor;
		Fetch Next From InstallmentCursor Into @InstlNumber, @Purpose;
		While @@Fetch_Status = 0 
			Begin
			 
			Set @Amount = (Select Interest + Principal From @TempData
							Where ChequeId = @ChequeId And Purpose = @Purpose
													  And InstlNumber = @InstlNumber);
			
			If @Amount > @ChequeAmount Set @Amount = @ChequeAmount;
			Set @ChequeAmount -= @Amount;
						
			Update @TempData Set ChqAmount = @Amount
			Where InstlNumber = @InstlNumber and Purpose = @Purpose
				  And ChequeId  = @ChequeId;
			
			Fetch Next From InstallmentCursor Into @InstlNumber, @Purpose;
			End
		Close InstallmentCursor;
		Deallocate InstallmentCursor;
		
		Fetch Next From ChequeCursor Into @ChequeId;
		End
	Close ChequeCursor;
	Deallocate ChequeCursor;
		
	Declare @Product Varchar(30), @Branch Integer;--, @DepositBank Varchar(50)
	
	Declare @BnkAccCode Varchar(9), @GrpSum Money;
	
	Declare VoucherGroup Cursor For 
					Select Distinct Product, Branch, Purpose, DepositBank 
					From @TempData; 
	
	Declare @QueryString Varchar(Max);
	--Select * Into BookKeeper.dbo.A_00001 From @ListOfEncashCheque ;
	Open VoucherGroup
	Fetch Next From VoucherGroup into @Product, @Branch, @Purpose, @DepositBank
	While @@FETCH_STATUS = 0
		Begin
		Set @VchrRef = @VchrRef + 1
		
		If @Product = 'Home Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (HML) Interest Receivable' is '12027'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12027', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12027' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Home Mortgage Loan' is '12025'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12025', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12025' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product
					  and A.ChqAmount - A.Interest > 0;
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12026', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12026' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Home Mortgage Loan' is '12025'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12025', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12025' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product
					  and A.ChqAmount - A.Interest > 0;
				End
			/* Else (Add Later)*/

			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank)
			
			Set @GrpSum = (Select SUM(CrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef)		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', @GrpSum, 0) 
			End
		Else If @Product = 'Commercial Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (CML) Interest Receivable' is '12054'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12054', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12054' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Commercial Mortgage Loan' is '12053'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12053', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12053' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product
					  And A.ChqAmount - A.Interest > 0
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12026', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12026' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Commercial Mortgage Loan' is '12053'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12053', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12053' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product And
					  A.ChqAmount - A.Interest > 0;
				End
			/* Else (Add Later)*/
			
			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank)
			
			Set @GrpSum = (Select SUM(CrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef)		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', @GrpSum, 0) 
			End
		Else If @Product = 'Project Mortgage Loan'
			Begin
			If @Purpose = 1
				Begin
				-- GenLedCode for 'EMI (PML) Interest Receivable' is '12024'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12024', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12024' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Project Mortgage Loan' is '12022'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12022', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12022' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product And
					  A.ChqAmount - A.Interest > 0
				End
			Else If @Purpose = 2
				Begin
				-- GenLedCode for 'PEMI (Project Mortgage) (A/R)' is '12023'
				Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12023', 0, Case When A.ChqAmount - A.Interest > 0 Then A.Interest 
														Else A.ChqAmount End CrAmount, A.LoanNo, A.ClientName  
				From @TempData A left join BOOKKEEPER.dbo.SLDesc B 
								On B.GenLedCode = '12023' and A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product;
				
				-- GenLedCode for 'Project Mortgage Loan' is '12022'
				Insert Into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, B.AccCode, '12022', 0, A.ChqAmount - A.Interest, A.LoanNo, A.ClientName 
				From @TempData A Left Join BOOKKEEPER.dbo.SLDesc B
								On B.GenLedCode = '12022' And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(SlName)
				Where A.Branch = @Branch And A.Purpose = @Purpose And A.Product = @Product
					  And A.ChqAmount - A.Interest > 0
				End
			/* Else (Add Later)*/
			
			-- GenLedCode for 'Bank' is '12002'
			Set @BnkAccCode = (Select AccCode 
								From BOOKKEEPER.dbo.SLDesc 
								Where GenLedCode = '12002' And SlName = @DepositBank)
			
			Set @GrpSum = (Select SUM(CrAmount) From @PendingVoucherDetail Where VchrRef = @VchrRef)		
			
			Insert into @PendingVoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount)
			Values(@VchrRef, @BnkAccCode, '12002', @GrpSum, 0)
		End
		
		
		Set @QueryString = ''
		Declare ChequeList Cursor For  Select ChequeId From @TempData 
										Where Product = @Product And Branch = @Branch 
										And Purpose = @Purpose And DepositBank = @DepositBank 
		
		Open ChequeList
		Fetch Next From ChequeList Into @ChequeId
		While @@FETCH_STATUS = 0
			Begin
			Set @QueryString = @QueryString + '''' + @ChequeId + ''','
			Fetch Next From ChequeList Into @ChequeId
			End
		Close ChequeList
		Deallocate ChequeList
		Set @QueryString = LEFT(@QueryString, LEN(@QueryString) -1)
		
		If @IsFreshCheque = 1 Set @RollbackStatus = 1;
		Else Set @RollbackStatus = 4;
		
		Set @RollbackQuery = 'Update FIMISDB.dbo.tbl_Cheque Set ChqStatus = ' + Convert(Varchar, @RollbackStatus) + ' Where ChequeId in (' 
							  + @QueryString + '); Delete From FIMISDB.dbo.tbl_ChequeEncash Where BundleId = ' 
							  + Convert(Varchar, @BundleId) + ' And ChequeId in (' + @QueryString + ');'
		
		Set @QueryWithCommit = 'Update FIMISDB.dbo.tbl_PaymentSchedule Set SdlStatus = 3 Where ScheduleId In'
							  + ' (Select ScheduleId From FIMISDB.dbo.tbl_ChequeSchedule Where ChequeId in ('
							  + @QueryString + '));'
		
		Insert into @PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrRef, @VchrType, @VchrCategory, @Branch, @PostDate, @Remarks, @RollbackQuery, @QueryWithCommit)
		
		Fetch Next From VoucherGroup into @Product, @Branch, @Purpose, @DepositBank
		End
	Close VoucherGroup
	Deallocate VoucherGroup
	
	--Declare @SerialNumber Integer, @AccCode Varchar(9); --- 
	
	--Declare OuterCursor Cursor For Select Distinct VchrRef From #PendingVoucher 
	--Open OuterCursor
	--Fetch Next From OuterCursor Into @VchrRef
	--While @@FETCH_STATUS = 0
	--	Begin
	--	Set @SerialNumber = 0;
	--	Declare InnerCursor Cursor For Select AccCode From #PendingVoucherDetail Where VchrRef = @VchrRef 
	--	Open InnerCursor
	--	Fetch Next From InnerCursor Into @AccCode;
	--	While @@FETCH_STATUS = 0
	--		Begin
	--		Set @SerialNumber = @SerialNumber + 1;
	--		Update #PendingVoucherDetail Set SerialNo = @SerialNumber 
	--		Where AccCode = @AccCode and VchrRef = @VchrRef;
	--		Fetch Next From InnerCursor Into @AccCode;
	--		End
	--	Close InnerCursor
	--	Deallocate InnerCursor		
	--	Fetch Next From OuterCursor Into @VchrRef
	--	End
	--Close OuterCursor
	--Deallocate OuterCursor
	
	Set @VchrRef = (Select IsNull(MAX(VchrRef),0) From bookkeeper.dbo.PendingVoucher)
	SET XACT_ABORT ON;
	--If (Select SUM(DrAmount-CrAmount) From #PendingVoucherDetail) = 0
		--Begin
		Begin Transaction Encash
		Update tbl_Cheque Set ChqStatus = 2
		Where ChequeId in (Select Value From @ListOfEncashCheque)
		
		Insert Into tbl_ChequeEncash(BundleId, ChequeId, DepositBank, DepositDate, ChqReturn, Remarks) 
		Select @BundleId, Value, @DepositBank, @DepositDate, 0, Null From @ListOfEncashCheque
		
		Insert into bookkeeper.dbo.PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
		Select @VchrRef + Vchrref, VchrType, Category, BrCode , PostDate, Remarks, RollbackQuery, QueryWithCommit 
		From @PendingVoucher
		
		Insert into BOOKKEEPER.dbo.PendingVoucherDetail
		Select VchrRef + @VchrRef, ROW_NUMBER() Over (Partition By VchrRef Order By AccCode) SerialNo, 
			   AccCode, GenLedCode, Sum(DrAmount), Sum(CrAmount), LoanNo, ClientName 
		From @PendingVoucherDetail 
		Where DrAmount <> CrAmount
		Group By VchrRef, SerialNo, AccCode, GenLedCode,LoanNo, ClientName; 
		Commit Transaction Encash
		SET XACT_ABORT OFF;
		--End
END


