USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[MergeSchedule]    Script Date: 03/14/2012 14:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[MergeSchedule]
					@LoanNo VARCHAR(13),
					@ListOfSchedule ListOfSchedule READONLY
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	
	DECLARE @MinInstlNo INT, @SdlIdFirstPart Varchar(7), @Return Int;
	
	Set @Return = 0;
	
	If LEN(@LoanNo) = 13 
		Set @SdlIdFirstPart = REPLACE(Right(Left(REPLACE(@LoanNo, '-',''),9),7),'N',0);
	Else 
		Set @SdlIdFirstPart = REPLICATE('0',7-Len(@LoanNo)) + @LoanNo;
	
	Create Table #ListOfSchedule(ScheduleId Varchar(11), InstlNo int, Purpose Int, Interest Money, 
								 Principal Money, DueDate Datetime, SdlStatus Int);
	
	Insert into #ListOfSchedule (ScheduleId, InstlNo, Purpose, Interest, Principal, DueDate, SdlStatus)
	Select @SdlIdFirstPart + Convert(Varchar, A.Purpose) + Replicate('0',3-Len(Convert(Varchar,A.InstlNo))) + Convert(Varchar,A.InstlNo),
			A.InstlNo, A.Purpose, A.Interest, A.Principal, A.DueDate, B.Code SdlStatus
	From @ListOfSchedule A Join dmn_ScheduleStatus B on A.SdlStatus = B.[Status];

	SET @MinInstlNo = (SELECT IsNull(MIN(InstlNo),0) FROM #ListOfSchedule);

	BEGIN TRAN UpdateTran
		DELETE FROM tbl_ChequeSchedule 
		WHERE LoanNo = @LoanNo And InstlNo >= @MinInstlNo And ChequeId Is Null
		And Purpose = 1 And InstlNo Not In (Select InstlNo From #ListOfSchedule);
		
		DELETE FROM tbl_PaymentSchedule 
		WHERE ScheduleId In (Select A.ScheduleId From tbl_ChequeSchedule A 
							 Where A.LoanNo = @LoanNo And A.InstlNo >= @MinInstlNo And A.Purpose = 1
							 And A.InstlNo Not In (Select InstlNo From #ListOfSchedule)); -- Purpose 1 = 'EMI'
			
		MERGE tbl_PaymentSchedule A
		USING #ListOfSchedule B
		ON (A.ScheduleId = B.ScheduleId)
		WHEN MATCHED THEN 
			UPDATE SET	A.InterestPart = B.Interest,
						A.PrincipalPart = B.Principal,
						A.DueDate = B.DueDate,
						A.SdlStatus = B.SdlStatus
		WHEN NOT MATCHED THEN	
			INSERT (ScheduleId, InterestPart, PrincipalPart, DueDate, SdlStatus)
			VALUES (B.ScheduleId, B.Interest, B.Principal, B.DueDate, B.SdlStatus);
		
		MERGE tbl_ChequeSchedule A
		USING #ListOfSchedule B
		ON (A.ScheduleId = B.ScheduleId)
		WHEN NOT MATCHED THEN	
			INSERT (LoanNo, InstlNo, Purpose, ScheduleId)
			VALUES (@LoanNo, B.InstlNo, B.Purpose, B.ScheduleId);
		
		Set @Return = 1;
	COMMIT TRAN UpdateTran
	SET XACT_ABORT OFF;
	
	Select @Return;
END


