USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[ModifyCheque]    Script Date: 04/17/2012 13:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[ModifyCheque]
					@ChequeId Varchar(11),
					@ChequeNo Varchar(30),
					@Bank Varchar(50),
					@Branch Varchar(50),
					@ChqDate Datetime,
					@ChqAmount Money/*,
					--@ChqStatus Varchar(100)*/
With Encryption
As
Begin
Set Nocount on;
Set Xact_abort on;

Begin Tran ModChq
Update tbl_Cheque Set ChequeNo = @ChequeNo, 
							Bank = @Bank, 
							Branch = @Branch,
							ChqDate = @ChqDate,
							Amount = @ChqAmount
Where ChequeId = @ChequeId;
Commit Tran ModChq

Set Xact_abort off;
End 


