USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[MonthlyInterest]    Script Date: 04/30/2012 12:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[MonthlyInterest]
					@ListOfSchedule VarcharList ReadOnly
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	-- A. General purpose variables
	Declare @VchrType Integer, @Category Varchar(50), @PostDate Datetime, @VchrRef Integer, @Remarks Varchar(200);
	
	-- B. Variables required for generate rollback query (instruction)
	Declare @ScheduleId Varchar(11), @QueryString Varchar(Max), @RollbackQuery Varchar(Max);
	
	-- C. Variables required for grouping schedules
	Declare @Product Varchar(25), @Purpose Integer, @Branch Integer, @GrpSum Money;
	
	-- D. Variable required for giving serial number to the voucher entries in voucher detail list
	Declare @SerialNo integer, @LoanNo Varchar(13);
	
	Set @VchrType = 3;
	Set @Category = 'Monthly Interest';
	Set @PostDate = SYSDATETIME();
	
	-- Temporary table designed for collecting and storing data from various loan tables
	CREATE TABLE #TempData (ScheduleId Varchar(11), Purpose Integer, Interest Money, LoanNo Varchar(13), 
								 ClientName Varchar(70), BranchId Numeric(3,0), Product Varchar(25));
	
	-- পেন্ডিং ভাউচারের প্যারেন্ট টেবিলে যে ডাটা ঢুকবে সেগুলো রাখার জন্য অস্থায়ী এই টেবিলটি তৈরী করা হল।
	Create Table #PendingVoucher(VchrRef Numeric(5,0), VchrType int, Category Varchar(50), 
								 BrCode int, PostDate Datetime, Remarks Varchar(200),
								 RollbackQuery Varchar(max), QueryWithCommit Varchar(max))
	
	-- পেন্ডিং ভাউচারের চাউল্ড টেবিলে যে ডাটা ঢুকবে সেগুলো রাখার জন্য অস্থায়ী এই টেবিলটি তৈরী করা হল।
	CREATE TABLE #PendingVoucherDetail (VchrRef Numeric(5,0), SerialNo Numeric(5,0), AccCode varchar(9),
								GenLedCode Varchar(5), DrAmount Money, CrAmount Money, LoanNo Varchar(13), 
								ClientName Varchar(70));
	
	Insert into #TempData(ScheduleId, Purpose, Interest, LoanNo, ClientName, BranchId, Product)
	
	Select A.ScheduleId, B.Purpose, A.InterestPart, B.LoanNo, C.ClientName, D.BranchID, E.GroupName 
	From tbl_PaymentSchedule A Left Join tbl_ChequeSchedule B on A.ScheduleId in (Select Value From @ListOfSchedule)
														And A.ScheduleId = B.ScheduleId
						Join V_ClientName C on C.LoanNo = B.LoanNo 
						Join tbl_Loan D on D.LoanNo = C.LoanNo
						Join tbl_Product E on E.ID = D.ProductID;

	Set @VchrRef = 0
	
	Declare DataGroup Cursor For 
						Select Product, Purpose, BranchId, Sum(Interest) GrpSum
						From #TempData
						Group By Product, Purpose, BranchId;
	
	Open DataGroup;
	Fetch Next From DataGroup Into @Product, @Purpose, @Branch, @GrpSum
	While @@FETCH_STATUS = 0
		Begin
		Set @VchrRef = @VchrRef + 1;
		Set @SerialNo = 1;
		Set @QueryString = ''
		Declare ScheduleList Cursor For Select ScheduleId From #TempData 
											Where Product = @Product And Purpose = @Purpose 
													And BranchId = @Branch;
		Open ScheduleList;
		Fetch Next From ScheduleList Into @ScheduleId;
		While @@FETCH_STATUS = 0
			Begin
			Set @QueryString = @QueryString + '''' + @ScheduleId + ''','
			Fetch Next From ScheduleList Into @ScheduleId;
			End				
		Close ScheduleList;
		Deallocate ScheduleList;
		
		Set @QueryString = LEFT(@QueryString,Len(@QueryString)-1);
		Set @RollbackQuery = 'Update FIMISDB.DBO.tbl_PaymentSchedule Set SdlStatus = 1 '
								+ 'Where ScheduleId in (' + @QueryString + ');';
		
		
		
		Insert into #PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
			Values(@VchrRef, @VchrType, @Category, @Branch, @PostDate, @Remarks, @RollbackQuery, Null)		
		
		If @Product = 'Home Mortgage Loan'
			Begin
			If @Purpose = 1 -- i.e., the interest is for loan amount at EMI State
				Begin
				-- GenLedCode for 'EMI (HML) Interest Receivable' is '12027'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12027', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12027'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;
				
				-- GenLedCode for 'Interest on Home Mortgage Loan' is '30006'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30006' And A.SlName = 'EMI'
				End
			Else If @Purpose = 2 -- i.e., the interest is for loan amount at PEMI State
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12026', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12026'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;

				-- GenLedCode for 'Interest on Home Mortgage Loan' is '30006'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30006' And A.SlName = 'PEMI'
				End
			End
		Else If @Product = 'Commercial Mortgage Loan'
			Begin
			If @Purpose = 1 -- i.e., the interest is for loan amount at EMI State
				Begin
				-- GenLedCode for 'EMI (CML) Interest Receivable' is '12054'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12054', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12054'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;
				
				-- GenLedCode for 'Interest on CML' is '30024'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30024' And A.SlName = 'EMI'
				End
			Else if @Purpose = 2 -- i.e., the interest is for loan amount at PEMI State
				Begin
				-- GenLedCode for 'PEMI (HML) Interest Receivable' is '12026'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12026', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12026'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;
				
				-- GenLedCode for 'Interest on Home Mortgage Loan' is '30006'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30006' And A.SlName = 'PEMI'
				End
			End
		Else If @Product = 'Project Mortgage Loan'
			Begin
			If @Purpose = 1 -- i.e., the interest is for loan amount at EMI State
				Begin
				-- GenLedCode for 'EMI (PML) Interest Receivable' is '12024'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12024', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12024'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;
				
				-- GenLedCode for 'Interest on Project Mortgage Loan' is '30015'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30015' And A.SlName = 'EMI'
				End
			Else if @Purpose = 2 -- i.e., the interest is for loan amount at PEMI State
				Begin
				-- GenLedCode for 'PEMI (Project Mortgage) (A/R)' is '12023'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, Null, B.AccCode, '12023', A.Interest, 0, A.LoanNo, A.ClientName 
				From #TempData A Left Join BOOKKEEPER.dbo.SLDesc B on B.GenLedCode = '12023'
													And A.LoanNo = BOOKKEEPER.dbo.LOANNUMBER(B.SlName)
													And B.SlDescription = 'Entry Mode'
				Where A.Product = @Product And A.Purpose = @Purpose And A.BranchId = @Branch;
				
				-- GenLedCode for 'Interest on Project Mortgage Loan' is '30015'
				Insert into #PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName)
				Select @VchrRef, @SerialNo, A.AccCode, A.GenLedCode, 0, @GrpSum, Null, Null
				From BOOKKEEPER.dbo.SLDesc A
				Where A.GenLedCode = '30015' And A.SlName = 'PEMI'
				End
			End
			
			Delete From #PendingVoucherDetail Where DrAmount = CrAmount And VchrRef = @VchrRef;
			
			Declare CursorForSerial Cursor For Select LoanNo From #PendingVoucherDetail 
											Where VchrRef = @VchrRef And LoanNo is not Null;
			Open CursorForSerial
			Fetch Next From CursorForSerial into @LoanNo
			While @@FETCH_STATUS = 0
				Begin
				Set @SerialNo = @SerialNo + 1;
				
				Update #PendingVoucherDetail Set SerialNo = @SerialNo
				Where VchrRef = @VchrRef And LoanNo = @LoanNo; 
				
				Fetch Next From CursorForSerial into @LoanNo
				End
			Close CursorForSerial
			Deallocate CursorForSerial
			
			Fetch Next From DataGroup Into @Product, @Purpose, @Branch, @GrpSum
		End
	Close DataGroup
	Deallocate DataGroup
	
	Set XACT_ABORT ON;
	Begin Transaction MonthlyInterest
	Set @VchrRef = IsNull((Select MAX(VchrRef) From BOOKKEEPER.dbo.PendingVoucher),0);
	
	Insert into BookKeeper.dbo.PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
	Select VchrRef + @VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit From #PendingVoucher;
	
	Insert into BookKeeper.dbo.PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
	Select VchrRef + @VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, ClientName From #PendingVoucherDetail;
	
	Update tbl_PaymentSchedule Set SdlStatus = 2 Where ScheduleId in (Select value From @ListOfSchedule);
	Commit Transaction MonthlyInterest
	Set XACT_ABORT OFF;
	
END


