USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[OverdueFromNoCheque]    Script Date: 06/18/2012 12:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[OverdueFromNoCheque]
		@ListOfSchedule VarcharList ReadOnly
With Encryption
As
Begin
	Set NoCount on;
	Update tbl_PaymentSchedule Set SdlStatus = 4 
	Where ScheduleId in (Select value From @ListOfSchedule)
	and SdlStatus <> 4;
End

