USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[PemiSchedule]    Script Date: 03/25/2012 20:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[PemiSchedule]
					@PemiAmount AmountList ReadOnly,
					@ProcessDate Datetime
--With Encryption
As
Begin
	Set NoCount on;
	
	Set @ProcessDate = (select dateadd(m, datediff(m, 0, dateadd(m, 1, @ProcessDate)), -1))
	
	--insert into A001 Values('1')
	Create Table #MaxInstNumber(LoanNo Varchar(13), MaxInstNumber Int)
	
	Insert into #MaxInstNumber (LoanNo, MaxInstNumber)
	Select LoanNo, IsNull(MAX(InstlNo),0)
	From tbl_ChequeSchedule 
	Where Purpose = 2 And LoanNo in (Select Distinct LoanNo From @PemiAmount)
	Group by LoanNo
	
	--insert into A001 Values('2')
	Declare @LoanNo Varchar(13), @Amount Money, @InstSl int, @SdlId Varchar(11);
	
	Set @InstSl = 0
	
	Set Xact_Abort on;
	Declare PemiCursor Cursor For Select LoanNo, Amount From @PemiAmount
	
	Open PemiCursor
	Fetch Next From PemiCursor into @LoanNo, @Amount;
	While @@FETCH_STATUS = 0
	Begin
		Set @InstSl = (Select MaxInstNumber From #MaxInstNumber Where LoanNo = @LoanNo) + 1
				
		If LEN(@LoanNo) = 13 
		Set @SdlId = REPLACE(Right(Left(REPLACE(@LoanNo, '-',''),9),7),'N',0) + '2' + Replicate('0',3-Len(Convert(Varchar,@InstSl))) + Convert(Varchar,@InstSl);
		Else 
		Set @SdlId = REPLICATE('0',7-Len(@LoanNo)) + @LoanNo + '2' + Replicate('0',3-Len(Convert(Varchar,@InstSl))) + Convert(Varchar,@InstSl);
		
		Begin Tran SdlEntry
		Update #MaxInstNumber Set MaxInstNumber = @InstSl Where LoanNo = @LoanNo;
		
		Insert into tbl_ChequeSchedule(LoanNo, InstlNo, Purpose, ScheduleId)
			values(@LoanNo, @InstSl, 2, @SdlId);
			
		Insert into tbl_PaymentSchedule(ScheduleId, InterestPart, PrincipalPart, DueDate, SdlStatus)
			values(@SdlId, @Amount, 0, @ProcessDate, 1)
		Commit Tran SdlEntry
		Fetch Next From PemiCursor into @LoanNo, @Amount;
	End
	Set Xact_Abort off;
End

