USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[PemiOrIdcpSchedule]    Script Date: 05/02/2012 12:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[PemiOrIdcpSchedule]
					@LoanNo Varchar(13),
					@Amount Money,
					@IntEndDate Datetime,
					@UserId Varchar(15)
With Encryption
As
Begin
Set NoCount On;

Declare @ScheduleId Varchar(11), @Return Int, @DueDate DateTime;

Set @Return = 0;
Set @DueDate = Convert(Datetime, Convert(Varchar(2), Month(DateAdd(M,1,@IntEndDate))) + '/01/' + Convert(Varchar(4),Year(DateAdd(M,1,@IntEndDate))));
Set @ScheduleId = (Select B.ScheduleId From tbl_ChequeSchedule A join tbl_PaymentSchedule B on A.ScheduleId = B.ScheduleId 
					Where A.LoanNo = @LoanNo And Purpose = 2 And Month(B.DueDate) = Month(@DueDate) And Year(B.DueDate) = Year(@DueDate));
If @ScheduleId Is Not Null
	Begin
	Set Xact_abort On;
	Begin Tran t0
	Update tbl_PaymentSchedule Set InterestPart = InterestPart + @Amount, DueDate = @DueDate 
	Where ScheduleId = @ScheduleId;
	
	Update tbl_PemiOrIdcpInterest Set IntEndDate = @IntEndDate 
	Where ScheduleId = @ScheduleId;
	
	Set @Return = 1;
	Commit Tran t0
	Set Xact_abort Off;
	End
Else
	Begin
	Declare @InstlNo Varchar(3)
	Set @InstlNo = (Select IsNull(Max(InstlNo),0) From tbl_ChequeSchedule Where LoanNo = @LoanNo And Purpose = 2) + 1;
	If Len(@LoanNo) = 13 Set @ScheduleId = Left(Right(Replace(@LoanNo, '-', ''),8),7) + '2' + Replicate('0', 3-Len(@InstlNo)) + @InstlNo;
	Else Set @ScheduleId = Replicate('0',7-Len(@LoanNo)) + @LoanNo + '2' + Replicate('0', 3-Len(@InstlNo)) + @InstlNo;
	
	Set Xact_abort On;
	Begin Tran t1
	
	Insert into tbl_PaymentSchedule(ScheduleId, InterestPart, PrincipalPart, DueDate, SdlStatus)
	Values(@ScheduleId, @Amount, 0, @DueDate, 1);
	
	Insert into tbl_ChequeSchedule(LoanNo, InstlNo, Purpose, ScheduleId)
	Values(@LoanNo, @InstlNo, 2, @ScheduleId);
	
	Insert into tbl_PemiOrIdcpInterest(ScheduleId, IntEndDate, EnterBy)
	Values(@ScheduleId, @IntEndDate, @UserId);
	Set @Return = 1;
	Commit Tran t1
	Set Xact_abort Off;
	End

Select @Return;
End