USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[PrePayment]    Script Date: 03/19/2012 09:57:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
'GlName'					'SLName'
---------------------		----------------------
'Prepayment - HML'			'Prepayment - HML'
'Prepayment - Lease'		'Prepayment - Lease'
'Prepayment - PML'			'Prepayment - PML'
'Prepayment Charge'			'CML'
							'HML'
							'Lease'
							'PML'
							'Term Finance'
'Prepayment charge CML (A/R)' [Client SL]
'Prepayment Charge Receivable' [Client SL]	
'Prepayment CML Interest (A/R)' [Client SL]
'Prepayment HML Interest (A/R)' [Client SL]
'Prepayment Interest'		'CML'
							'HML'
							'Lease'
'Prepayment Lease Interest (A/R)'
'Additional Interest'		'Additional Interest'
'Cheque Dishonored Charge'	'Cheque Dishonored Charge'
*/
ALTER Procedure [dbo].[PrePayment]
					@LoanNo Varchar(13),
					@PayMode Varchar(3),
					@PaymentList PrepaymentAmount ReadOnly,
					@DepostBank Varchar(200), 
					@ProductName Varchar(30),
					@TokenId Varchar(11),
					@UserId Varchar(15)
-- Exec PrePayment 'LoanNo', 'CSH', 'PaymentList', 'DepostBank', 'ProductName'
With Encryption
As
Begin
Set NoCount on;
Declare @VchrNo Numeric(5,0), @VchrType int, @Category Varchar(50), @Remarks Varchar(Max), @RollbackQuery Varchar(Max),
		@QueryWithCommit Varchar(Max), @SerialNumber Int, @ClientName Varchar(70), @AccCode Varchar(9),
		@GenLedCode Varchar(5), @BrCode int, @PayDate Date, @Return bit;
Declare @Voucher Table(VchrRef Numeric(5,0), VchrType int, Category Varchar(50), Remarks Varchar(Max), 
					   RollbackQuery Varchar(Max), QueryWithCommit Varchar(Max));
Declare @VoucherDetail Table(VchrRef Numeric(5,0), SerialNo Numeric(5,0), AccCode Varchar(9), GenLedCode Varchar(5),
							 DrAmount Money, CrAmount Money, LoanNo Varchar(13), Name Varchar(70));
Declare @tmpList Table(GlName Varchar(200), SlName Varchar(200),DrAmount Money,CrAmount Money)

Set @Return = 0;
Set @ClientName = (Select ClientName From V_ClientName Where LoanNo = @LoanNo);
Set @BrCode = (Select BranchID From tbl_Loan Where LoanNo = @LoanNo);
Set @PayDate = SYSDATETIME();
Set @RollbackQuery = 'Delete From Fimisdb.dbo.tbl_Payment Where LoanNo = ''' + @LoanNo 
					 + ''' And SlNo = @SerialNumber And [Date] = ''' + Convert(Varchar(10), @PayDate) + '''';

Set @QueryWithCommit =	'Update Fimisdb.dbo.tbl_PaymentSchedule Set SdlStatus = 6 
						 Where ScheduleId In (Select ScheduleId 
											  From Fimisdb.dbo.tbl_ChequeSchedule
											  Where LoanNo = ''' + @LoanNo + ''')
						 And DueDate >= ''' + Convert(Varchar(10), @PayDate) + '''';
						 
If @ProductName = 'Home Mortgage Loan'
	Begin
	-- Parent Voucher
	Set @VchrNo = 1;
	Set @VchrType = 2;
	Set @Category = 'Prepayment - Parent Voucher';
	Set @Remarks = '';
	
	Insert into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select 'Bank', @DepostBank, Sum(Amount), 0 From @PaymentList;
	
	Insert Into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select Case When GlName = 'Prepayment Amount' Then 'Prepayment - HML'
				When GlName = 'Prepayment Charge' Then 'Prepayment Charge'
				When GlName = 'Daily Basis Interest' Then 'Prepayment Interest'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				Else GlName 
				End GlName,
			Case When GlName = 'Prepayment Amount' Then 'Prepayment - HML'
				When GlName = 'Prepayment Charge' Then 'HML'
				When GlName = 'Daily Basis Interest' Then 'HML'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				When GlName = '' Then ''
				Else (Select SlName From BookKeeper.dbo.SLDesc  
					  Where GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc 
											Where GlName = A.GlName)
							And SlName like @LoanNo + ' %')
				End SlName,
			0, Amount 
	From @PaymentList A;
	
	Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
	Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
	
	Insert into @VoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
	Select @VchrNo, C.AccCode, B.GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
	From @tmpList A join BookKeeper.dbo.GLDesc B on A.GlName = B.GlName 
					join BookKeeper.dbo.SLDesc C on B.GenLedCode = C.GenLedCode And A.SlName = C.SlName;
					
	Set @SerialNumber = 0;
	Declare SerialCursor Cursor For Select VchrRef, AccCode, GenLedCode 
									From @VoucherDetail 
									Where SerialNo is Null;
	Open SerialCursor;
	Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
	While @@Fetch_Status = 0
			Begin
			Set @SerialNumber = @SerialNumber + 1;
			
			Update @VoucherDetail Set SerialNo = @SerialNumber
			Where VchrRef = @VchrNo And AccCode = @AccCode And GenLedCode = @GenLedCode;
			
			Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
			End
	Close SerialCursor;
	Deallocate SerialCursor;
	
	-- Child Voucher
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment - HML') 
		Begin 
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - HML');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Home Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - HML');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Charge')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment Charge Receivable');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Interest')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment HML Interest (A/R)');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Excies Duty Payable')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Home Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		End	
				
	End
Else If @ProductName = 'Commercial Mortgage Loan'
	Begin
	-- Parent Voucher
	Set @VchrNo = 1;
	Set @VchrType = 2;
	Set @Category = 'Prepayment - Parent Voucher';
	Set @Remarks = '';
	
	Insert into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select 'Bank', @DepostBank, Sum(Amount), 0 From @PaymentList;
	
	Insert Into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select Case When GlName = 'Prepayment Amount' Then 'Prepayment - CML'
				When GlName = 'Prepayment Charge' Then 'Prepayment Charge'
				When GlName = 'Daily Basis Interest' Then 'Prepayment Interest'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				Else GlName 
				End GlName,
			Case When GlName = 'Prepayment Amount' Then 'Prepayment - CML'
				When GlName = 'Prepayment Charge' Then 'CML'
				When GlName = 'Daily Basis Interest' Then 'CML'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				When GlName = '' Then ''
				Else (Select SlName From BookKeeper.dbo.SLDesc  
					  Where GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc 
											Where GlName = A.GlName)
							And SlName like @LoanNo + ' %')
				End SlName,
			0, Amount 
	From @PaymentList A;
	
	Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
	Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
	
	Insert into @VoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
	Select @VchrNo, C.AccCode, B.GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
	From @tmpList A join BookKeeper.dbo.GLDesc B on A.GlName = B.GlName 
					join BookKeeper.dbo.SLDesc C on B.GenLedCode = C.GenLedCode And A.SlName = C.SlName;
	
	Set @SerialNumber = 0;
	Declare SerialCursor Cursor For Select VchrRef, AccCode, GenLedCode 
									From @VoucherDetail 
									Where SerialNo is Null;
	Open SerialCursor;
	Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
	While @@Fetch_Status = 0
			Begin
			Set @SerialNumber = @SerialNumber + 1;
			
			Update @VoucherDetail Set SerialNo = @SerialNumber
			Where VchrRef = @VchrNo And AccCode = @AccCode And GenLedCode = @GenLedCode;
			
			Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
			End
	Close SerialCursor;
	Deallocate SerialCursor;
	
	-- Child Voucher
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment - CML') 
		Begin 
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - CML');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Commercial Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - CML');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Charge')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment charge CML (A/R)');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Interest')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment CML Interest (A/R)');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Excies Duty Payable')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Commercial Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		End			
	End
Else If @ProductName = 'Project Mortgage Loan'
	Begin
	-- Parent Voucher
	Set @VchrNo = 1;
	Set @VchrType = 2;
	Set @Category = 'Prepayment - Parent Voucher';
	Set @Remarks = '';
	
	Insert into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select 'Bank', @DepostBank, Sum(Amount), 0 From @PaymentList;
	
	Insert Into @tmpList (GlName, SlName, DrAmount, CrAmount)
	Select Case When GlName = 'Prepayment Amount' Then 'Prepayment - HML'
				When GlName = 'Prepayment Charge' Then 'Prepayment Charge'
				When GlName = 'Daily Basis Interest' Then 'Prepayment Interest'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				Else GlName 
				End GlName,
			Case When GlName = 'Prepayment Amount' Then 'Prepayment - HML'
				When GlName = 'Prepayment Charge' Then 'PML'
				When GlName = 'Daily Basis Interest' Then 'HML'
				When GlName = 'Excise Duty' Then 'Excies Duty Payable'
				When GlName = 'Stamp Cost' Then 'Stamp & Security Paper'
				When GlName = '' Then ''
				Else (Select SlName From BookKeeper.dbo.SLDesc  
					  Where GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc 
											Where GlName = A.GlName)
							And SlName like @LoanNo + ' %')
				End SlName,
			0, Amount 
	From @PaymentList A;
	
	Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
	Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
	
	Insert into @VoucherDetail(VchrRef, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
	Select @VchrNo, C.AccCode, B.GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
	From @tmpList A join BookKeeper.dbo.GLDesc B on A.GlName = B.GlName 
					join BookKeeper.dbo.SLDesc C on B.GenLedCode = C.GenLedCode And A.SlName = C.SlName;
	
	Set @SerialNumber = 0;
	Declare SerialCursor Cursor For Select VchrRef, AccCode, GenLedCode 
									From @VoucherDetail 
									Where SerialNo is Null;
	Open SerialCursor;
	Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
	While @@Fetch_Status = 0
			Begin
			Set @SerialNumber = @SerialNumber + 1;
			
			Update @VoucherDetail Set SerialNo = @SerialNumber
			Where VchrRef = @VchrNo And AccCode = @AccCode And GenLedCode = @GenLedCode;
			
			Fetch Next From SerialCursor Into @VchrNo, @AccCode, @GenLedCode;
			End
	Close SerialCursor;
	Deallocate SerialCursor;
	
	-- Child Voucher
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment - HML') 
		Begin 
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - HML');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Project Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment - HML');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Charge')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment Charge Receivable');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Charge');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Prepayment Interest')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Prepayment HML Interest (A/R)');
		Set @AccCode = (Select IsNull(AccCode, '') From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Prepayment Interest');
		End
	If Exists(Select GlName From @tmpList Where GlName = 'Excies Duty Payable')
		Begin
		Set @VchrNo = @VchrNo + 1;
		Set @VchrType = 3;
		Set @Category = 'Prepayment - Child Voucher';
		Set @Remarks = '';
		
		Insert into @Voucher(VchrRef, VchrType, Category, Remarks, RollbackQuery, QueryWithCommit)
		Values (@VchrNo, @VchrType, @Category, @Remarks, @RollbackQuery, @QueryWithCommit);
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 1, AccCode, GenLedCode, CrAmount, DrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		
		Set @GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc Where GlName = 'Project Mortgage Loan');
		Set @AccCode = (Select AccCode From BookKeeper.dbo.SLDesc Where GenLedCode = @GenLedCode And SlName like @LoanNo + ' %');
		
		Insert into @VoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
		Select @VchrNo, 2, @AccCode, @GenLedCode, DrAmount, CrAmount, @LoanNo, @ClientName
		From @VoucherDetail A 
		Where A.VchrRef = 1 And A.GenLedCode = (Select GenLedCode From BookKeeper.dbo.GLDesc
												Where GlName = 'Excies Duty Payable');
		End			
	End

	Declare @VchrRef Numeric(5,0), @GroupId Int, @ParentVchr Numeric(5,0), @PrnAmount Money;
	
	Set @VchrRef = (Select IsNull(Max(VchrRef),0) From BookKeeper.dbo.PendingVoucher);
	Set @GroupId = (Select IsNull(Max(GroupId),0) From BookKeeper.dbo.PendingVoucherGroup) + 1;
	Set @ParentVchr = @VchrRef + 1;
	Set @PrnAmount = (Select Amount From @PaymentList Where GlName = 'Prepayment Amount');

	
	Declare InsertCursor Cursor For Select VchrRef From @Voucher;
	
	--Set Xact_abort on;
	Begin Tran Prepayment
		Set @SerialNumber = (Select Count(*) From tbl_Payment Where LoanNo = @LoanNo) + 1;
		
		Insert into tbl_Payment(LoanNo, SlNo, [Date], [Type], [Mode], [PayTokenId], Amount, UserId, EntryDate)
		Values(@LoanNo, @SerialNumber, @PayDate, 2, @PayMode, @TokenId, @PrnAmount, @UserId, sysdatetime());
		
		Open InsertCursor;
		Fetch Next From InsertCursor Into @VchrNo;
		While @@Fetch_Status = 0 
			Begin
			Insert into BookKeeper.dbo.PendingVoucher(VchrRef, VchrType, Category, BrCode, PostDate, Remarks, RollbackQuery, QueryWithCommit)
			Select VchrRef + @VchrRef, VchrType, Category, @BrCode, SysDatetime(), Remarks, 
					Replace(RollbackQuery, '@SerialNumber', Convert(Varchar(5),@SerialNumber)), QueryWithCommit 
			From @Voucher 
			Where VchrRef = @VchrNo;
			
			Insert into BookKeeper.dbo.PendingVoucherDetail(VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name)
			Select VchrRef + @VchrRef, SerialNo, AccCode, GenLedCode, DrAmount, CrAmount, LoanNo, Name 
			From @VoucherDetail 
			Where VchrRef = @VchrNo;
			
			Insert into BookKeeper.dbo.PendingVoucherGroup(GroupId, VchrRef, ParentRef, [Committed])
			Values (@GroupId, @VchrNo, @ParentVchr, 0);
			
			Fetch Next From InsertCursor Into @VchrNo;
			End
		Close InsertCursor;
		Deallocate InsertCursor;
		
		Set @Return = 1;
	Commit Tran Prepayment
	Set Xact_abort off;
		
	Select @Return;
End