USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[RemoveCheque]    Script Date: 06/11/2012 16:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[RemoveCheque]
					@ListOfCheque VarcharList ReadOnly
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	Declare @Return Int, @ChequeIdList VarcharList;
	
	Set @Return = 0;
	
	Insert Into @ChequeIdList(Value)
	Select ChequeId From tbl_Cheque 
	Where ChqStatus = 5 And ChequeId in (Select Value From @ListOfCheque);
	
	SET XACT_ABORT ON;
	BEGIN TRAN REMCHQ
		Update tbl_ChequeSchedule Set ChequeId = Null
		Where ChequeId in (Select value From @ChequeIdList);
		
		Insert into history_DeletedCheque
		Select * From tbl_Cheque Where ChequeId in (Select value From @ChequeIdList);
		
		Set @Return = (Select Count(*) From @ChequeIdList);	
		
		Delete From tbl_Cheque 
		Where ChequeId in (Select value From @ChequeIdList);
	COMMIT TRAN REMCHQ
	SET XACT_ABORT OFF;
	
	Select @Return;
END


