USE [FIMISDB]
GO
/****** Object:  StoredProcedure [dbo].[RemovePermission]    Script Date: 03/27/2012 13:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[RemovePermission] 
					@ToUserId varchar(15),
					@TaskId int
		
With Encryption
AS
BEGIN
	SET NOCOUNT ON;
	Declare @Return bit;
	Set @Return = 0;
	
	Set Xact_Abort On;
	Begin Tran RemovePermission
	Delete From tbl_UserPermitedTask Where UserId = @ToUserId And TaskId = @TaskId;
	
	Set @Return = 1
	Commit Tran RemovePermission
	Set Xact_Abort Off;
	
	Select @Return;
END
